<div>
  <h1>Green Leaves</h1>
</div>

<div>
  <div>
    <label for="">Nombre</label>  
    <input type="text" name="nombre" [(ngModel)]="TXTNombre" class="form-control"> 
  </div>
    <label for="">E-mail:</label>
    <input type="text" name="email" [(ngModel)]="TXTEmail" class="form-control">
  <div> 
    <label for="">Teléfono:</label>
    <input type="text" name="telefono" [(ngModel)]="TXTTelefono" class="form-control">
  </div>
  <div>
    <label for=""> Fecha:</label>
    <input type="text" name="fecha" [(ngModel)]="TXTFecha" class="form-control">
  </div>
  <div>
    <label for=""> Ciudad y Estado:</label>
    <input type="text" name="ciudad" [(ngModel)]="TXTLocacion" class="form-control">
  </div>
  <div>
    <button type="button" *ngIf="BTNEnviar"> Enviar </button>
  </div>
  
  
  
  
  
</div>
