.contenedor{
    width: 70%; 
    margin: 0 auto;
}

.cabecera {
    display: inline-block;
    vertical-align: middle;
}

.campo {
    width: 100%; 
    height: 150px;
    box-sizing: border-box; 
    padding: 10px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }