USE [master]
GO
/****** Object:  Database [GreenLeaves]    Script Date: 10/29/2024 1:56:08 PM ******/
CREATE DATABASE [GreenLeaves]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GreenLeaves', FILENAME = N'D:\ToDo\BD\GreenLeaves.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GreenLeaves_log', FILENAME = N'D:\ToDo\BD\GreenLeaves_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GreenLeaves].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GreenLeaves]
GO
/****** Object:  Table [dbo].[Localidades]    Script Date: 10/29/2024 1:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidades](
	[CIudad] [nvarchar](50) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[Pais] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/29/2024 1:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
